body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #7393B3);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #0047AB;
    margin-bottom: 10px;
}

#bday-age {
    background: #0047AB;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #0047AB;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 600px;
    height: 450px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHMydzVjYzl2eGxoa2x5cmdtdHNzaDR2cTZ3bnRmMG41amU5MDd0NSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xT5LMQ8rHYTDGFG07e/giphy.webp");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 600px;
    height: 450px;
}

#gift-img-hot:hover {
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExamtnMnh5eTU0enh1Z3pyOGlwZXA5eHYxNXlnYXl1MHEzeG9zNWtxNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xUNd9Yd1YNOiFd2D16/giphy.webp");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 600px;
    height: 450px;
}

#gift-img-genius:hover {
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExeW44NmhyemhraW94cG53NTczNXV3Mzc1ZnFiNXY4emM3YjAyeGZ4NyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lmv5aDvwOgTmby3a13/giphy.webp");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 600px;
    height: 450px;
}

#gift-img-badass:hover {
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWo4Mjd6Zmo1aGV5eGp0Z3hpdWsxd3h6ZDN2M3c4YjQ2b3lhNDFyMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/80bQMZ5SGJkHKF9CqU/giphy.webp");
    background-size: fill;
    background-repeat: no-repeat;
    max-width: 600px;
    height: 450px;
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/